<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фopмa Django!</title>
</head>
<body>
<h2>Форма как таблица</h2>
    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" vаluе="Отправить" >
</form>

<h2>Форма как список</h2>
    <form method="POST">
        {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input type="submit" vаluе="Отправить" >
</form>

<h2>Форма как параграф</h2>
    <form method="POST">
        {% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>
    <input type="submit" vаluе="Отправить" >
</form>





</body>
</html>